.kaufman__triangle {
    position:absolute;
    height: 877px;
    width: 877px;
    background-image: url("/Users/Ð¾/Practicum/how-to-learn/images/kaufman-triangle.svg");
    background-size: contain;
    top: 0;
    right: -210px;
    z-index: 0;
    animation: rotation 20s infinite linear;
  }